node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Coverage
coverage/